@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #FFF;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

.movieRow {
    margin-bottom: 0.5rem;
}

.movieRow h2 {
    margin: 0 0 0 2rem;
}

.movieRow-list{
    transition: all ease 0.4s;
}

.movieRow-listarea{
    overflow-x: hidden;
    padding-left: 2rem;
}

.movieRow-item{
    display: inline-block;
    width: 150px;
    cursor: pointer;

}

.movieRow-item img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.15s;
}

.movieRow-item img:hover{
    transform: scale(1);
}

.movieRow-left,
.movieRow-right{
    position: absolute;
    width: 2.7rem;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieRow-left{
    left: 0;
}
.movieRow-right{
    right: 0;
}

.movieRow:hover .movieRow-left,
.movieRow:hover .movieRow-right{
    opacity: 1;
}