@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #FFF;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

.movieRow {
    margin-bottom: 0.5rem;
}

.movieRow h2 {
    margin: 0 0 0 2rem;
}

.movieRow--listarea{
    overflow-x: hidden;
    padding-left: 2rem;
}

.movieRow--list{
    width: 99999999px;
}
.movieRow--item{
    display: inline-block;
    width: 150px;
    cursor: pointer;

}

.movieRow--item img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.15s;
}

.movieRow--item img:hover{
    transform: scale(1);
}